{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
    <main>
        <section>
            {{>title data=name big=true}}
            <em>{{birthdate}} - {{deathdate}}</em>
            <br>
            <br>
            <div>
                Birth place: <address>{{birthplace}}</address>
                <br>
                Death place: <address>{{deathplace}}</address>
            </div>
            <br>
            <b>Nationality: {{nationality}}</b>
            <br>
            <b>Occupation: {{occupation}}</b>
        </section>
        <hr>
        <section>
            <div>
                {{>title data="Knowk for:" big=false}}
                <ul>
                    {{#each known_for}}
                        <li>
                            {{this}}    
                        </li>
                    {{/each}}
                </ul> 
            </div>
        </section>
        <hr>
        <section>
            <div>
                {{>title data="Education" big=false}}
                {{#each education}}
                    <b>{{degree}}</b>, {{field}}
                    <br>
                    <em>{{institution}}, {{year}}</em>
                {{/each}} 
            </div>
        </section>
        <hr>
        <section>
            <div>
                {{>title data="Notable publications:" big=false}}
                <ul>
                    {{#each notable_publications}}
                        <li>
                            <b>{{title}}</b>
                            <br>
                            {{publisher}}, {{year}}
                        </li>
                    {{/each}}
                </ul> 
            </div>
        </section>
        <hr>
        <section>
            <div>
                {{>title data="Partners:" big=false}}
                <ul>
                    {{#each partners}}
                        <li>
                            <b>{{name}}</b> - {{relationship}}, {{years}}
                        </li>
                    {{/each}}
                </ul> 
            </div>
        </section>
        <hr>
        <section>
            <div>
                {{>title data="Awards:" big=false}}
                <ol>
                    {{#each awards}}
                        <li>
                            <b>{{title}}</b>, {{year}}
                            <p>{{description}}</p>
                        </li>
                    {{/each}}
                </ol> 
            </div>
        </section>
        <hr>
        <section>
            <div>
                {{>title data="Influence:" big=false}}
                <em>Influences</em>
                <ul>
                    {{#each influences}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
                <br>
                <em>Influenced</em>
                <ul>
                    {{#each influenced}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul> 
            </div>
        </section>
        <hr>
        <section>
            <div>
                {{>title data="Quotes:" big=false}}
                <ul>
                    {{#each influences}}
                        <li>
                            <q>{{this}}</q>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </section>
        <hr>
        <section>
            <div>
                {{>title data="Major discoveries:" big=false}}
                <ol>
                    {{#each major_discoveries}}
                        <li>
                            <b>{{title}}</b>, {{year}}
                            <p>{{description}}</p>
                        </li>
                    {{/each}}
                </ol>
            </div>
        </section>
        <hr>
        <section>
            <div>
                {{>title data="Contribution:" big=false}}
                {{#with contributions}}
                    <strong>{{title}}</strong>, field - {{field}}
                    <p>{{description}}</p>
                    <em>{{year}}</em>
                {{/with}}
            </div>
        </section>


    </main>
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}