{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>

  <section>
    <div class="row">
      <div class="col-6">
        <h2 class="mb-5">Список сторінок
          <i class="bi bi-book-half"></i>
        </h2>
        <p>Мій перший Bootstrap проект</p>

        {{#each pages}}
        <a href="{{href}}" target="_blank" class="btn btn-primary text-uppercase">{{title}} <i class="{{icon}}"></i></a>
        <p>{{description}}</p>
        {{/each}}
      </div>
      <div class="col-6">
        <h2 class="mb-5">Інші сторінки
          <i class="bi bi-bookmark-fill"></i>
        </h2>
        <p>Сторінки про все підряд</p>
        {{#each pagesOther}}
        <a href="{{href}}" target="_blank" class="btn btn-outline-secondary text-uppercase m-1">{{title}}</a>
        {{/each}}
      </div>
    </div>
  </section>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}