{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
    {{#with person}}
        <main>
            <section>
                {{>title data=name big=true}}
                <em>{{gender}}, {{age}}</em> 
                <div>
                    <address>
                        {{#with address}}
                        {{street}}, {{city}}, {{state}}, <br>
                        {{zip}}, {{country}}
                        {{/with}}
                    </address>
                </div>
            </section>
            <hr>
            <section>
                <div>
                    {{>title data="Education" big=false}}
                    {{#each education}}
                        <b>{{degree}}</b>
                        <br>
                        <em>{{major}}</em>
                        <br>
                        {{university}}, {{graduationYear}}
                    {{/each}}
                </div>
            </section>

            <hr>
            
            <section>
                {{>title data="Work experience" big=false}}
                    <div>
                        {{#each workExperience}}
                            <b>{{company}}, 
                                <em>{{title}}</em>
                            </b>
                            <br>
                            <em>{{startDate}} - {{endDate}}</em>
                            <br>
                            <ul>
                                {{#each responsibilities}}
                                    <li>
                                        {{this}}
                                    </li>
                                {{/each}}
                            </ul>
                            <br>
                            <em>Company details:</em> 
                            <br>
                            {{industry}}, {{year_founded}}
                            <br>
                            <br>
                            {{#each employees}}
                                <em>Employees:</em>
                                <br>
                                {{name}}, {{position}}, {{department}} department
                                <br>
                                <br>
                                <p><em>Project details:</em></p>
                                {{#each projects}}
                                    <u>{{name}}</u> - {{description}}
                                    <br>
                                    <em>{{status}}</em>
                                    <br>
                                    <br>
                                    <u>Project team:</u>
                                    <br>
                                    {{#each teams}}
                                        <b>{{team_name}}</b> 
                                        <br>
                                            {{#with team_leader}}
                                                {{title}} - {{name}}, email: 
                                                {{>link text="john.smith@example.com" href="mailto: {{email}}" blank=true noLine=true}}
                                            {{/with}}
                                            <br>
                                            {{#each team_members}}
                                                Team members: {{name}} - {{title}}, {{>link text="alice.johnson@example.com" href="mailto: {{email}}" blank=true noLine=true}}
                                                <em>Skills:</em>
                                                <ul>
                                                    {{#each skills}}
                                                        <li>
                                                            {{this}}
                                                        </li>
                                                    {{/each}}
                                                </ul>
                                                <em>Projects:</em>
                                                {{#each projects}}
                                                    <ol>
                                                        <li>
                                                            <strong>{{name}}</strong>
                                                        </li>
                                                    </ol>
                                                    <p>
                                                        {{description}}
                                                    </p>
                                                    <em>Project technologies:</em>
                                                    <ul>
                                                        {{#each technologies}}
                                                            <li>
                                                              {{this}}
                                                            </li>
                                                        {{/each}}
                                                    </ul>
                                                    <em>Team members:</em>
                                                    <ul>
                                                        {{#each team_members}}
                                                            <li>
                                                              {{name}} - {{title}}
                                                            </li>
                                                        {{/each}}
                                                    </ul>
                                                    
                                                {{/each}}
                                            {{/each}}
                                    {{/each}}
                                {{/each}}
                            {{/each}}
                        {{/each}}
                    </div>
            </section>
        </main>
    {{/with}}
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}