<main>
    <section class="row">
        <section class="col-8">
            {{#with formBlock}}
            {{>title data=header big=true}}
            {{#with rating}}
            <p>{{title}}: {{value}}</p>
            {{/with}}
            {{#with actionBlock}}
            <div class="nav nav-tabs">
                {{#each tabs}}
                <div class="nav-item">
                    <a href="#" class="nav-link {{#if isActive}} active {{/if}}">{{text}}</a>
                </div>
                {{/each}}
            </div>
            <hr class="my-5">
            <div class='card p-3'>
                {{#with report}}
                <h6>{{title}}</h6>
                <div class="col-3">
                    {{#with button}}
                    <a href="{{link}}" class="btn btn-secondary my-2">{{text}}</a>
                    {{/with}}
                </div>
                {{/with}}
            </div>
            {{/with}}
            <hr class="my-5">
            <section>
                {{#with feedbackBlock}}
                {{>title data=title big=false}}
                <div class="pt-3">
                    <div class="row">
                        <div class="col-12">
                            {{#each buttons}}
                            <a href="{{link}}"
                                class="btn {{#if isWarning}} btn-warning {{/if}} {{#if isSuccess}} btn-success {{/if}} {{#if isDanger}} btn-danger {{/if}} my-4">{{text}}</a>
                            {{/each}}
                        </div>
                    </div>
                </div>
                {{/with}}
            </section>

        </section>
        <section class="col-4">
            {{#with goodsInfo}}
            <div class="card p-4">
                <div>
                    <img src="{{photo}}" alt="product picture">
                </div>
                <h4 class="mt-3">{{name}}</h4>
            </div>
            <div class="card px-4 my-3">
                <h4 class="my-3">{{price}}</h4>
                <p>{{#if inMarket}}Є в наявності{{/if}}</p>
                {{#each buttons}}
                <div>
                    <a href="{{link}}"
                        class="btn {{#if isPrimary}} btn-primary {{/if}} {{#if isSecondary}} btn-secondary {{/if}} mb-4">{{text}}</a>
                </div>
                {{/each}}
            </div>
            <div class="card p-4">
                {{#with seller}}
                <h4>{{title}}: {{value}}</h4>
                {{/with}}
            </div>
            {{/with}}
        </section>
        <hr class="mb-5">
        {{/with}}
    </section>

    <section class="mx-0 p-0">
        {{#each reviewList}}
        <div class="card p-4 mb-5">
            <div class="card py-4">
                {{#with title}}
                <div class="px-4">
                    {{>title data=userName big=false}}
                    <h6>{{caption}}</h6>
                    <p>{{date}}</p>
                </div>
                <hr class="py-2">
                {{/with}}
                {{#with reviewBody}}
                <div class="ms-4">
                    <p>{{seller.title}}: {{seller.value}}</p>
                    <p>{{rating.title}}: {{rating.value}}</p>
                    <p>{{text}}</p>
                    <h5 class="mb-0">{{advantages.title}}:</h5>
                    <p class="pt-0">{{advantages.text}}</p>
                    <h5 class="mb-0">{{disadvantages.title}}:</h5>
                    <p class="pt-0">{{disadvantages.text}}</p>
                    {{#each images}}
                    <img src="{{this}}" alt="product picture">
                    {{/each}}
                </div>
                {{/with}}
            </div>
            {{#with reviewBody}}
            <div class="ms-4">
                {{#each coments}}
                <div class="card mx-5 mt-4 p-4">
                    <h5>{{userName}}</h5>
                    <p>{{date}}</p>
                    <p>{{text}}</p>
                </div>
                {{/each}}
            </div>
            {{/with}}
        </div>
        {{/each}}
    </section>

    {{>shopaction }}

</main>