<section class="row">
    <div class="col-12">
        <div class='card'>
            <div class="row">
                <img class="card-img-left col-2" src={{image}} alt="Product photo">
                <div class="col-10">
                    <div class='card-body'>
                        <div class="row">
                            <div class="col-6">
                                <h3 class="card-title">{{name}}</h3>
                                <p>{{description}}</p>
                            </div>
                            <div class="col-2 my-3">
                                {{#with price}}
                                <h6>{{title}}</h6>
                                <h3>{{value}}</h3>
                                {{/with}}
                            </div>
                            <div class="col-2">
                                <div class="mt-4">{{amount}}</div>
                            </div>
                            <div class="col-2">
                                {{#each buttons}}
                                <button
                                    class="btn {{#if isPrimary}} btn-primary {{/if}} {{#if isDanger}} btn-outline-danger {{/if}} my-2">{{text}}</button>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>